In [1]:
from Collection.General import OPENCORPORATES as ot

In [2]:
ot.information()

        함수에 대한 설명은 아래와 같습니다.

        라이브러리 내 주요 클래스는 opencorporates_extract입니다.

        DriverSettings()는 드라이버 세팅을 하는 함수입니다.

        Login()은 opencorporates에 로그인하는 함수입니다.

        ReCounty()는 국가를 선택하는 함수입니다.

        SearchCompanies()는 기업을 찾는 함수입니다.

        GetInformation()은 데이터를 추출하는 함수입니다.

        GetExcel()은 추출한 데이터를 저장하는 함수입니다.

In [3]:
ot.country_name()

        Hong Kong, Malaysia, Singapore, Thailand

        Viet Nam, India, United States, Canada

        Mexico, Netherlands, Germany, Italy, France

        United Kingdom, Australia, Switzerland, Spain

In [4]:
ops = ot.opencorporates_extract()

In [5]:
ops.DriverSettings()

In [6]:
ops.Login("syyoo@hebronstar.com", "tlsdud12!!")

In [7]:
lst = ['Hong Kong', 'Malaysia', 'Singapore', 'Thailand',
        'Viet Nam', 'India', 'United States', 'Canada',
        'Mexico', 'Netherlands', 'Germany', 'Italy', 'France',
     
        'United Kingdom', 'Australia', 'Switzerland', 'Spain']

In [8]:
!pip install xlsxwriter

Requirement already satisfied: xlsxwriter in c:\users\user\anaconda3\envs\bdc\lib\site-packages (3.1.0)

In [9]:
for idx in lst:
    try:
        ops.ReCountry(idx)
        ops.SearchCompanies(idx)
    except:
        print("Done")

Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done
Done

In [11]:
ops.CompaniesInformationUrl.to_excel("finished_url_opencorporates.xlsx", index=False)

In [12]:
import pandas as pd
df = pd.read_excel("finished_url_opencorporates.xlsx")

In [18]:
for country, url in zip(df["country"], df["url"]):
    try:
        ops.GetInformation(url, country)
    except:
        pass

In [21]:
ops.CompaniesInformation.to_excel("opencorporates_finish.xlsx", index=False)

In [20]:
ops.CompaniesInformationUrl

,country,company name,url
0,Hong Kong,""" WOW ! "" PARTNERS LIMITED -THE-",https://opencorporates.com/companies/hk/1179533
1,Hong Kong,"""1ST DRAGON CORPORATION"" LIMITED -THE-",https://opencorporates.com/companies/hk/0761380
2,Hong Kong,"""2ND SKIN CORPORATION"" LIMITED -THE-",https://opencorporates.com/companies/hk/0553396
3,Hong Kong,"""A BETTER WAY"" (HONG KONG) LIMITED",https://opencorporates.com/companies/hk/1373429
4,Hong Kong,"""A BRILLIANT WAY"" INTERNATIONAL LIMITED",https://opencorporates.com/companies/hk/1607931
...,...,...,...
13495,Spain,151090 AN SL,https://opencorporates.com/companies/es/60543204
13496,Spain,1515 CDT INTERNACIONAL SL,https://opencorporates.com/companies/es/13286414
13497,Spain,1516 CONSULTING SL,https://opencorporates.com/companies/es/31930126
13498,Spain,151INNOVA24H SL,https://opencorporates.com/companies/es/21472410
13499,Spain,1520 NUEVA TECNOLOGIA APLICADA SIGLO XXI SL,https://opencorporates.com/companies/es/82803347