# DATABASE TABLE MAKE

In [1]:
import pandas as pd

In [2]:
import pandas as pd

df_list = []
for sheet_num in range(5):
    df_dict = {}
    df = pd.read_excel('2023_BDC_3차년도 테이블정의서_Nick.xlsx', sheet_name=sheet_num)
    for key, value in zip(df["표준컬럼 영문명"], df["표준 데이터타입"]):
        df_dict[key] = value
    df_list.append([sheet_num, df_dict])

In [1]:
import os
import sys
import pandas as pd
sys.path.append(os.path.dirname(os.path.abspath(os.path.dirname("ETL"))))

In [4]:
from ETL import EL

ModuleNotFoundError: No module named 'ETL'

In [22]:
load = EL.DataLoad()

In [23]:
load.Login("postgres", "1234", "211.245.172.58", "5432", "nia_test")

In [24]:
import psycopg2
conn = psycopg2.connect(load.url)

In [25]:
cur = conn.cursor()
for idx in range(len(df_list)):
    table_name = f"tb_hb_kor_test_{idx}"
    column_data_types = df_list[idx][1]
    columns = ', '.join([f'{column} {data_type}' for column, data_type in column_data_types.items()])
    create_table_query = f"CREATE TABLE {table_name} ({columns})"
    cur.execute(create_table_query)

    # 커밋
    conn.commit()

# DATABASE TABLE DELETE

In [26]:
for idx in range(len(df_list)):
    table_name = f"tb_hb_kor_test_{idx}"
    drop_table_query = f"DROP TABLE IF EXISTS {table_name}"

    # 테이블 삭제
    cur.execute(drop_table_query)

    # 커밋
    conn.commit()

# DATA HANDLING

In [29]:
import pandas as pd
from tqdm import tqdm
import re

In [30]:
df = pd.read_excel('2023_BDC_3차년도 테이블정의서_Nick.xlsx', sheet_name=1)

In [31]:
def make_ev_dict(df) -> pd.DataFrame:
    ev_dict = {}
    for key, value in zip(df["표준컬럼 영문명"], df["표준 데이터타입"]):
        ev_dict[key] = value
    columns = [x.lower() for x in df["표준컬럼 영문명"]]
    return ev_dict, pd.DataFrame(columns=columns)

In [32]:
korea_ev_info = make_ev_dict(pd.read_excel('2023_BDC_3차년도 테이블정의서_Nick.xlsx', sheet_name=1))[0]
korea_ev_info_df = make_ev_dict(pd.read_excel('2023_BDC_3차년도 테이블정의서_Nick.xlsx', sheet_name=1))[1]
korea_ev_finan = make_ev_dict(pd.read_excel('2023_BDC_3차년도 테이블정의서_Nick.xlsx', sheet_name=0))[0]
korea_ev_finan_df = make_ev_dict(pd.read_excel('2023_BDC_3차년도 테이블정의서_Nick.xlsx', sheet_name=0))[1]
global_ev_info = make_ev_dict(pd.read_excel('2023_BDC_3차년도 테이블정의서_Nick.xlsx', sheet_name=3))[0]
global_ev_info_df = make_ev_dict(pd.read_excel('2023_BDC_3차년도 테이블정의서_Nick.xlsx', sheet_name=3))[1]
global_ev_finan = make_ev_dict(pd.read_excel('2023_BDC_3차년도 테이블정의서_Nick.xlsx', sheet_name=2))[0]
global_ev_finan_df = make_ev_dict(pd.read_excel('2023_BDC_3차년도 테이블정의서_Nick.xlsx', sheet_name=2))[1]
third_info = make_ev_dict(pd.read_excel('2023_BDC_3차년도 테이블정의서_Nick.xlsx', sheet_name=4))[0]
third_info_df = make_ev_dict(pd.read_excel('2023_BDC_3차년도 테이블정의서_Nick.xlsx', sheet_name=4))[1]

In [33]:
respond_df = pd.read_excel("3차년도_대응표.xlsx")

In [34]:
import os
second_finan_lst = "C:/Users/user/Desktop/유신영 업무폴더/BDC/1_BDC 데이터 정리/13_2023년 3분기/131_2023년 3분기 3차년도/2023년 3분기 3차년도 재무정보/데이터베이스 적재/"
finan_lst = os.listdir(second_finan_lst)

In [35]:
append_base_df = pd.read_excel(second_finan_lst + "tb_hb_kor_plcfi_d.xlsx")

In [36]:
filtered_df = respond_df[["2차년도_한국_재무_영문", "3차년도_한국_재무_영문"]].dropna()
append_df = append_base_df[filtered_df["2차년도_한국_재무_영문"]]
filtered_dict = {}
for key, value in zip(filtered_df["2차년도_한국_재무_영문"], filtered_df["3차년도_한국_재무_영문"]):
    filtered_dict[key] = value.lower()
append_base_df = append_df.rename(columns= filtered_dict)
# korea_ev_finan_df = korea_ev_finan_df.append(append_df)
# korea_ev_finan_df = korea_ev_finan_df.reset_index(drop=True)

# INFORMATION DF TRANSFORM

In [10]:
info_korea = pd.read_excel("한국_3차년도_재무정보_일반.xlsx")
info_korea = info_korea[info_korea["status"] == 0]
respond_df_info = respond_df[["DART_한국_일반정보", "DART_한국_대응정보"]].dropna()
info_korea = info_korea[respond_df_info["DART_한국_일반정보"]]
info_korea_dict = {}
for key, value in zip(respond_df_info["DART_한국_일반정보"], respond_df_info["DART_한국_대응정보"]):
    info_korea_dict[key] = value.lower()
info_korea = info_korea.rename(columns=info_korea_dict)
info_korea = info_korea.reset_index(drop=True)
for idx in range(len(info_korea["lstng_cd"])):
    info_korea["lstng_cd"][idx] = int(info_korea["lstng_cd"][idx])

C:\Users\user\AppData\Local\Temp\ipykernel_31920\2205498205.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  info_korea["lstng_cd"][idx] = int(info_korea["lstng_cd"][idx])

In [11]:
for idx in range(len(korea_ev_finan_df)):
    symbol = korea_ev_finan_df["lstng_cd"][idx]
    append_df = info_korea[info_korea["lstng_cd"] == symbol]
    if not append_df.empty:
        korea_ev_finan_df.loc[idx, list(append_df.columns)] = append_df.values[0]

In [12]:
korea_ev_finan_df.to_excel("test.xlsx", index=False)

In [38]:
korea_stock = pd.read_csv("C:/Users/user/Desktop/유신영 업무폴더/BDC/1_BDC 데이터 정리/13_2023년 3분기/131_2023년 3분기 3차년도/2023년 3분기 3차년도 시가총액정보/가공후/korea/korea.csv")

In [39]:
korea_stock_dict = {"Date":"stndd_dt",
                    "Code":"lstng_cd",
                    "Open":"stock_start",
                    "Close":"stock_end",
                    "High":"stock_high",
                    "Low":"stock_low",
                    "Marcap":"mrprc_ttamt"}

In [40]:
korea_stock = korea_stock.rename(columns= korea_stock_dict)

In [41]:
korea_stock["stock_avg"] = (korea_stock["stock_high"] + korea_stock["stock_low"]) // 2

In [17]:
korea_stock = korea_stock[["stndd_dt", "lstng_cd", "stock_start", "stock_high", "stock_low", "stock_end", "stock_avg", "mrprc_ttamt"]]

In [44]:
symbol_lst = [int(x) for x in set(korea_stock["lstng_cd"]) if not re.search(r"[a-zA-Z]", x)]

In [45]:
duplicated_symbol = set(list(symbol_lst)) & set(list(info_korea["lstng_cd"]))

In [46]:
duplicated_symbol

{100090.0,
 100120.0,
 100130.0,
 100220.0,
 100250.0,
 100700.0,
 100840.0,
 101000.0,
 101160.0,
 101170.0,
 101360.0,
 101400.0,
 101490.0,
 101530.0,
 101670.0,
 101730.0,
 101930.0,
 102120.0,
 102260.0,
 102280.0,
 102370.0,
 102460.0,
 102710.0,
 102940.0,
 103140.0,
 103590.0,
 104460.0,
 104540.0,
 104620.0,
 104830.0,
 105330.0,
 105630.0,
 105740.0,
 106080.0,
 106240.0,
 106520.0,
 107590.0,
 108230.0,
 108320.0,
 108380.0,
 108490.0,
 108670.0,
 108860.0,
 109070.0,
 109860.0,
 109960.0,
 110790.0,
 110990.0,
 111110.0,
 111770.0,
 111870.0,
 112040.0,
 112610.0,
 113810.0,
 114090.0,
 114120.0,
 114190.0,
 114630.0,
 114810.0,
 115180.0,
 115310.0,
 115390.0,
 115450.0,
 115480.0,
 115530.0,
 115570.0,
 117580.0,
 117670.0,
 117730.0,
 118000.0,
 118990.0,
 119610.0,
 119650.0,
 119850.0,
 119860.0,
 120110.0,
 121440.0,
 121600.0,
 121800.0,
 121850.0,
 122310.0,
 122350.0,
 122450.0,
 122640.0,
 122870.0,
 122900.0,
 122990.0,
 123040.0,
 123330.0,
 123420.0,
 123570.0,
 123690.0,
 123840.0,
 124500.0,
 124560.0,
 126340.0,
 126560.0,
 126600.0,
 126720.0,
 126880.0,
 127120.0,
 127710.0,
 128540.0,
 128940.0,
 129260.0,
 129890.0,
 130500.0,
 130580.0,
 130660.0,
 130740.0,
 131090.0,
 131100.0,
 131180.0,
 131220.0,
 131400.0,
 133750.0,
 134580.0,
 134790.0,
 136410.0,
 136480.0,
 136510.0,
 137080.0,
 137310.0,
 137940.0,
 137950.0,
 138070.0,
 138080.0,
 138490.0,
 138580.0,
 138690.0,
 139050.0,
 139480.0,
 139670.0,
 139990.0,
 140070.0,
 140410.0,
 140670.0,
 140860.0,
 141000.0,
 141020.0,
 141080.0,
 142210.0,
 142280.0,
 143210.0,
 143240.0,
 143540.0,
 144510.0,
 144960.0,
 145210.0,
 145270.0,
 145720.0,
 146320.0,
 148140.0,
 148150.0,
 148250.0,
 148780.0,
 148930.0,
 149980.0,
 150840.0,
 150900.0,
 151860.0,
 151910.0,
 153490.0,
 154030.0,
 154040.0,
 155650.0,
 155660.0,
 155900.0,
 156100.0,
 158430.0,
 159010.0,
 159580.0,
 159910.0,
 160550.0,
 160600.0,
 160980.0,
 161000.0,
 161390.0,
 161570.0,
 161580.0,
 161890.0,
 163560.0,
 163730.0,
 166480.0,
 168330.0,
 170030.0,
 170900.0,
 171010.0,
 171090.0,
 173130.0,
 173940.0,
 174880.0,
 175140.0,
 175250.0,
 177830.0,
 178320.0,
 178780.0,
 179530.0,
 179900.0,
 180400.0,
 180640.0,
 181340.0,
 182360.0,
 183190.0,
 183300.0,
 183490.0,
 184230.0,
 185490.0,
 185750.0,
 186230.0,
 187220.0,
 187270.0,
 187420.0,
 187660.0,
 187870.0,
 189300.0,
 189690.0,
 190510.0,
 191410.0,
 191420.0,
 192080.0,
 192390.0,
 192400.0,
 192410.0,
 192440.0,
 192820.0,
 193250.0,
 194370.0,
 194480.0,
 194700.0,
 195870.0,
 195940.0,
 195990.0,
 196170.0,
 196490.0,
 196700.0,
 197140.0,
 199800.0,
 200230.0,
 200350.0,
 200710.0,
 200780.0,
 200880.0,
 201490.0,
 203400.0,
 203450.0,
 204020.0,
 204270.0,
 204320.0,
 204630.0,
 206400.0,
 206560.0,
 206650.0,
 207940.0,
 208340.0,
 208370.0,
 208710.0,
 210540.0,
 210980.0,
 211050.0,
 213420.0,
 213500.0,
 214180.0,
 214260.0,
 214270.0,
 214310.0,
 214320.0,
 214330.0,
 214370.0,
 214420.0,
 214450.0,
 214870.0,
 215000.0,
 215200.0,
 215600.0,
 215790.0,
 216050.0,
 217190.0,
 217330.0,
 217480.0,
 217620.0,
 217730.0,
 217820.0,
 218150.0,
 218410.0,
 219420.0,
 219550.0,
 219750.0,
 220100.0,
 221840.0,
 222040.0,
 222160.0,
 222800.0,
 222810.0,
 222980.0,
 223250.0,
 223310.0,
 224060.0,
 224110.0,
 225190.0,
 225570.0,
 226320.0,
 226330.0,
 226360.0,
 226400.0,
 227100.0,
 227610.0,
 227840.0,
 227950.0,
 228670.0,
 228760.0,
 228850.0,
 229000.0,
 229640.0,
 230360.0,
 230980.0,
 234080.0,
 234100.0,
 234300.0,
 234340.0,
 235980.0,
 236200.0,
 236810.0,
 237690.0,
 237880.0,
 238090.0,
 238120.0,
 238200.0,
 239610.0,
 240810.0,
 241560.0,
 241590.0,
 241690.0,
 241710.0,
 241770.0,
 241790.0,
 241820.0,
 241840.0,
 243840.0,
 244460.0,
 244920.0,
 245620.0,
 246720.0,
 246960.0,
 247540.0,
 248070.0,
 248170.0,
 249420.0,
 250000.0,
 251370.0,
 251630.0,
 251970.0,
 253450.0,
 253840.0,
 255220.0,
 255440.0,
 257720.0,
 258610.0,
 258830.0,
 259960.0,
 262840.0,
 263020.0,
 263050.0,
 263600.0,
 263690.0,
 263700.0,
 263720.0,
 263750.0,
 263810.0,
 263860.0,
 264450.0,
 264660.0,
 265520.0,
 265560.0,
 265740.0,
 267250.0,
 267260.0,
 267270.0,
 267290.0,
 267790.0,
 267980.0,
 268280.0,
 268600.0,
 269620.0,
 270870.0,
 271980.0,
 272110.0,
 272210.0,
 272290.0,
 274090.0,
 276040.0,
 276730.0,
 277070.0,
 277810.0,
 278650.0,
 280360.0,
 282330.0,
 282690.0,
 282880.0,
 285130.0,
 285490.0,
 286750.0,
 286940.0,
 288620.0,
 288980.0,
 289220.0,
 290090.0,
 290120.0,
 290270.0,
 290520.0,
 290650.0,
 290660.0,
 290720.0,
 290740.0,
 293490.0,
 293940.0,
 294090.0,
 294570.0,
 294870.0,
 296640.0,
 297090.0,
 297890.0,
 298000.0,
 298020.0,
 298040.0,
 298050.0,
 298380.0,
 298540.0,
 299900.0,
 299910.0,
 300080.0,
 300120.0,
 300720.0,
 301300.0,
 302430.0,
 302550.0,
 304100.0,
 304840.0,
 306040.0,
 307950.0,
 308080.0,
 308100.0,
 308170.0,
 310210.0,
 311390.0,
 311690.0,
 314130.0,
 317120.0,
 317240.0,
 317330.0,
 317400.0,
 317530.0,
 317690.0,
 317770.0,
 317830.0,
 317850.0,
 317870.0,
 318010.0,
 318020.0,
 318410.0,
 319660.0,
 321550.0,
 321820.0,
 322000.0,
 322180.0,
 322310.0,
 322510.0,
 327260.0,
 328130.0,
 329180.0,
 332370.0,
 332570.0,
 333620.0,
 335810.0,
 336370.0,
 337930.0,
 338220.0,
 339770.0,
 340570.0,
 340930.0,
 347000.0,
 347770.0,
 347860.0,
 348030.0,
 348150.0,
 348210.0,
 348370.0,
 348950.0,
 350520.0,
 351320.0,
 351330.0,
 352480.0,
 352700.0,
 352770.0,
 352910.0,
 353200.0,
 353590.0,
 353810.0,
 354200.0,
 356860.0,
 357230.0,
 357430.0,
 357550.0,
 357780.0,
 357880.0,
 361570.0,
 361610.0,
 362320.0,
 363280.0,
 365340.0,
 365550.0,
 365900.0,
 368600.0,
 371950.0,
 372800.0,
 372910.0,
 373220.0,
 375500.0,
 376180.0,
 376290.0,
 376930.0,
 376980.0,
 377030.0,
 377190.0,
 377220.0,
 377300.0,
 377450.0,
 377460.0,
 377480.0,
 378850.0,
 382840.0,
 383220.0,
 383310.0,
 388720.0,
 389140.0,
 389260.0,
 393890.0,
 394280.0,
 396690.0,
 399720.0,
 400760.0,
 403550.0,
 404990.0,
 412350.0,
 417970.0,
 432320.0,
 441270.0,
 900070.0,
 900100.0,
 900110.0,
 900120.0,
 900250.0,
 900260.0,
 900270.0,
 900280.0,
 900290.0,
 900300.0,
 900310.0,
 900340.0,
 950110.0,
 950130.0,
 950140.0,
 950170.0,
 950190.0,
 950210.0,
 950220.0}

In [47]:
symbols_ = [str(int(i)) for i in duplicated_symbol]

In [49]:
df_A = korea_stock[korea_stock['lstng_cd'].isin(symbols_)]

In [51]:
df_A["lstng_cd"] = df_A["lstng_cd"].astype(int)

C:\Users\user\AppData\Local\Temp\ipykernel_31920\3751442669.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_A["lstng_cd"] = df_A["lstng_cd"].astype(int)

In [52]:
df_A

,stndd_dt,lstng_cd,Name,stock_start,stock_high,stock_low,stock_end,Stocks,mrprc_ttamt,stock_avg
9,2018-01-02,207940,삼성바이오로직스,367000,391000,367000,389500,66165000,25771267500000,379000
43,2018-01-02,139480,이마트,272000,273000,260500,262000,27875819,7303464578000,266750
46,2018-01-02,215600,신라젠,95900,104000,93300,102500,68001447,6970148317500,98650
48,2018-01-02,161390,한국타이어,54600,55400,54600,55000,123875069,6813128795000,55000
49,2018-01-02,267250,현대로보틱스,387500,414500,387000,414500,16286617,6750802746500,400750
...,...,...,...,...,...,...,...,...,...,...
2931984,2022-12-29,286750,나노브릭,1330,1340,1295,1325,20464549,27115527425,1317
2931986,2022-12-29,290660,네오펙트,1435,1475,1335,1395,19240617,26840660715,1405
2932026,2022-12-29,174880,장원테크,928,931,836,878,21906325,19233753350,883
2932037,2022-12-29,204630,스튜디오산타클로스,1820,1820,1645,1680,10850308,18228517440,1732
2932045,2022-12-29,161570,THE MIDONG,1025,1065,1000,1055,15582830,16439885650,1032

In [54]:
korea_ev_finan_df = korea_ev_finan_df.append(df_A)

C:\Users\user\AppData\Local\Temp\ipykernel_31920\73722823.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  korea_ev_finan_df = korea_ev_finan_df.append(df_A)

In [55]:
korea_ev_finan_df.reset_index(inplace=True)

In [57]:
for idx in tqdm(range(len(korea_ev_finan_df))):
    symbol = korea_ev_finan_df["lstng_cd"][idx]
    append_df = info_korea[info_korea["lstng_cd"] == symbol]
    if not append_df.empty:
        korea_ev_finan_df.loc[idx, list(append_df.columns)] = append_df.values[0]

  0%|          | 0/545466 [00:00<?, ?it/s]

100%|██████████| 545466/545466 [3:16:56<00:00, 46.16it/s]

In [60]:
korea_ev_finan_df.reset_index(inplace=True)

In [62]:
for idx in tqdm(range(len(korea_ev_finan_df))):
    symbol = korea_ev_finan_df["lstng_cd"][idx]
    append_df = append_base_df[append_base_df["lstng_cd"] == symbol]
    if not append_df.empty:
        korea_ev_finan_df.loc[idx, list(append_df.columns)] = append_df.values[0]

100%|██████████| 545466/545466 [26:41:11<00:00,  5.68it/s]

In [66]:
korea_ev_finan_df = korea_ev_finan_df.drop(["level_0", "index"], axis=1)

In [72]:
korea_ev_finan_df["hb_ntn_cd"] = "KOR"
korea_ev_finan_df["kr_ntn_nm"] = "한국"
korea_ev_finan_df["engls_ntn_nm"] = "KOREA"
korea_ev_finan_df["ntn_lngg_cd_val"] = "KOR"
korea_ev_finan_df["kr_lngg_nm"] = "한국어"
korea_ev_finan_df["engls_lngg_nm"] = "KOREAN"

In [74]:
korea_ev_finan_df = korea_ev_finan_df.drop(["Name", "Stocks"], axis=1)

In [79]:
korea_ev_finan_df.to_parquet("대한민국_3차_재무.parquet", index=False)

In [117]:
korea_ev_finan_df["lstng_cd"] = korea_ev_finan_df["lstng_cd"].astype(int)

In [125]:
korea_ev_finan_df["lstng_cd"][idx]

161570

In [126]:
append_df[append_df["lstng_cd"] == symbol]

Empty DataFrame
Columns: [keyval, hb_ntn_cd, acplc_lngg_entrp_nm, engls_entrp_nm, crprt_rgno, bsnsm_rgno, fndtn_dt, stock_mrkt_cd, engls_stock_mrkt_nm, lstng_dt, lstng_cd, engls_indstrsctrs_nm_1, crrnc_sctin_cd, accnn_yr, reprt_kind_cd, stacnt_dt, prsls, entrp_sllng_prmpc, bsn_cost_amt, bsn_prft, bsn_else_ernng_amt, ctax_cost_amt, thtrm_ntpf, cuass_amt, nncrrnt_assts_amt, assts_summ, fltng_debt_amt, nncrrnt_debt_amt, debt_summ, captl_summ, debt_captl_summ_amt, bsn_acti_csflw, invsm_acti_cash_infl_amt, fnnr_acti_cash_infl_amt, cash_incre_amt, bsis_cash_amt, entrm_cash_amt]
Index: []

[0 rows x 37 columns]

In [91]:
korea_ev_finan_df = korea_ev_finan_df.drop(['level_0', 'index'], axis=1)

In [93]:
korea_ev_finan_df.to_excel("korea.xlsx", index=False)

In [109]:
append_df["debt_summ"].isnull().value_counts()

False    4525
True       15
Name: debt_summ, dtype: int64

In [122]:
korea_ev_finan_df["debt_summ"].isnull().value_counts()

True     545465
False         1
Name: debt_summ, dtype: int64