In [1]:
import os
import sys
import pandas as pd
sys.path.append(os.path.dirname(os.path.abspath(os.path.dirname("ETL"))))

In [2]:
from ETL import T


함수에 대한 설명은 아래와 같습니다. 

라이브러리는 ETL과정중 T(Transform)을 포함하고 있습니다. 

데이터베이스에서 데이터를 확인하는 클래스는 Checker 입니다. 

클래스 지정시 데이터베이스(postgresql)의 id, pw, ip, db, 추출하고자 하는 테이블명을 입력해주세요. 

read_excel() 함수는 xlsx을 불러와 데이터프레임으로 저장합니다. 

read_csv() 함수는 csv를 불러와 데이터프레임으로 저장합니다. 

data_update() 함수는 신규 데이터의 업데이트시 I 또는 U를 입력합니다. 

date_update() 함수는 신규 데이터의 업데이트시 날짜를 입력합니다. 

CheckDate() 함수는 인베스팅 닷컴의 일반 데이터 날짜를 표준화하는 함수 

CheckLength() 함수는 데이터의 크기를 확인하여 크기만큼 자르는 함수 

CheckVarchar() 함수는 재무 데이터 크기를 확인하여 클 경우 새로 삽입하는 함수 

CheckNumeric() 함수는 재무 데이터 숫자를 확인하는 함수 

-------------------------------------------------------------------

In [10]:
path = "egnin_fn/unload/"

In [11]:
filepath = os.listdir(path)

In [13]:
for idx in filepath:
    t = T.Checker()
    t.read_excel(path + idx)
    t.data_update(True)
    t.date_update()
    t.fndtn_dt()
    t.df.to_excel(path + idx, index=False)

c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:

In [7]:
t.CheckNumeric()
t.CheckVarchar()
try: t.CheckDate()
except: pass
t.data_update(True)
t.date_update()
t.fndtn_dt()

In [8]:
t.df.to_excel(path, index=False)

c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:

In [11]:
for idx in filepath:
        try:
            t = T.Checker()
            t.read_excel(path + idx)
            t.df = tmp.change_columns(t.df)
            t.CheckLength()
            t.CheckNumeric()
            t.CheckVarchar()
            try: t.CheckDate()
            except: pass
            t.data_update(True)
            t.date_update()
            t.fndtn_dt()
            t.df.to_excel(f"fn/unload/{idx}", index=False)
        except:
            t = T.Checker()
            t.read_excel(path + idx)
            t.CheckLength()
            t.CheckNumeric()
            t.CheckVarchar()
            t.data_update(True)
            t.date_update()
            t.fndtn_dt()
            t.df.to_excel(f"fn/unload/{idx}", index=False)

c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:
c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:

In [11]:
t.df["entrp_reltn_tdngs_dt"].isnull().value_counts()

True    796
Name: entrp_reltn_tdngs_dt, dtype: int64

In [12]:
import os
path = "fn/unload/"
filepath = os.listdir(path)

In [13]:
filepath

['finished_australia.xlsx',
 'finished_colombia.xlsx',
 'finished_france.xlsx',
 'finished_germany.xlsx',
 'finished_hong-kong.xlsx',
 'finished_indonesia.xlsx',
 'finished_italy.xlsx',
 'finished_malaysia.xlsx',
 'finished_mexico.xlsx',
 'finished_netherlands.xlsx',
 'finished_singapore.xlsx',
 'finished_spain.xlsx',
 'finished_thailand.xlsx',
 'finished_united-states.xlsx',
 'finished_vietnam.xlsx',
 'Original_미국_2000.xlsx',
 'Original_미국_4000.xlsx',
 'Original_미국_6000.xlsx',
 'Original_스위스_834.xlsx',
 'Original_영국_2000.xlsx',
 'Original_영국_2624.xlsx',
 'Original_인도_2000.xlsx',
 'Original_인도_2090.xlsx',
 'Original_캐나다_1846.xlsx']

In [14]:
from ETL import EL

In [15]:
tt = EL.DataLoad()

In [16]:
cnt = 0
for idx in filepath:
    try:
        os.rename(path+idx, "fn/unload/" + tt.change_name(idx))
    except FileExistsError:
        cnt += 1
        os.rename(path + idx, "fn/unload/" + str(cnt) + tt.change_name(idx))

In [17]:
import pandas as pd
df = pd.read_excel("fn/fn_unfinished/Original_미국_2000.xlsx")

In [19]:
t.read_excel("fn/fn_unfinished/Original_미국_2000.xlsx")

t.CheckLength()
t.CheckNumeric()
t.CheckVarchar()
t.data_update(True)
t.date_update()
t.fndtn_dt()

In [32]:
t.fndtn_dt()

c:\Users\user\Desktop\yoo\개발관련\BDC\Digital-Industry-Innovation\DataQuality\ETL\T.py:140: RuntimeWarning: invalid value encountered in cast
  if value.astype(int) > 21000000 or value.astype(int) < 18000000:

In [35]:
t.df[t.df["accnn_yr"] >= 2022]

,keyval,stock_mrkt_cd,acplc_lngg_stock_mrkt_nm,engls_stock_mrkt_nm,hb_ntn_cd,lstng_cd,acplc_lngg_entrp_nm,engls_entrp_nm,ovrss_entrp_crprt_rgno,ovrss_entrp_bsnsm_rgno,...,entrp_reltn_tdngs_url,cmp_insd_reltn_info,cstmr_reltn_info,sppl_reltn_info,cmptt_reltn_info,sbst_goods_reltn_info,opert_sctin_cd,data_crtin_dt,cntct_prces_stts_cd,cntct_prces_dt
0,NaN,NYSE,New York Stock Exchange,New York Stock Exchange,NaN,A,"Agilent Technologies, Inc.","Agilent Technologies, Inc.",NaN,77-0518772,...,NaN,NaN,NaN,NaN,NaN,NaN,I,20230426,n,NaN
1,NaN,NYSE,New York Stock Exchange,New York Stock Exchange,NaN,A,"Agilent Technologies, Inc.","Agilent Technologies, Inc.",NaN,77-0518772,...,NaN,NaN,NaN,NaN,NaN,NaN,I,20230426,n,NaN
2,NaN,NYSE,New York Stock Exchange,New York Stock Exchange,NaN,A,"Agilent Technologies, Inc.","Agilent Technologies, Inc.",NaN,77-0518772,...,NaN,NaN,NaN,NaN,NaN,NaN,I,20230426,n,NaN
3,NaN,NYSE,New York Stock Exchange,New York Stock Exchange,NaN,A,"Agilent Technologies, Inc.","Agilent Technologies, Inc.",NaN,77-0518772,...,NaN,NaN,NaN,NaN,NaN,NaN,I,20230426,n,NaN
4,NaN,NYSE,New York Stock Exchange,New York Stock Exchange,NaN,A,"Agilent Technologies, Inc.","Agilent Technologies, Inc.",NaN,77-0518772,...,NaN,NaN,NaN,NaN,NaN,NaN,I,20230426,n,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,NaN,NYSE,New York Stock Exchange,New York Stock Exchange,NaN,APRN,"Blue Apron Holdings, Inc.","Blue Apron Holdings, Inc.",NaN,81-4777373,...,NaN,NaN,NaN,NaN,NaN,NaN,I,20230426,n,NaN
5990,NaN,NYSE,New York Stock Exchange,New York Stock Exchange,NaN,APRN,"Blue Apron Holdings, Inc.","Blue Apron Holdings, Inc.",NaN,81-4777373,...,NaN,NaN,NaN,NaN,NaN,NaN,I,20230426,n,NaN
5991,NaN,NYSE,New York Stock Exchange,New York Stock Exchange,NaN,APRN,"Blue Apron Holdings, Inc.","Blue Apron Holdings, Inc.",NaN,81-4777373,...,NaN,NaN,NaN,NaN,NaN,NaN,I,20230426,n,NaN
5992,NaN,NYSE,New York Stock Exchange,New York Stock Exchange,NaN,APRN,"Blue Apron Holdings, Inc.","Blue Apron Holdings, Inc.",NaN,81-4777373,...,NaN,NaN,NaN,NaN,NaN,NaN,I,20230426,n,NaN
5993,NaN,NYSE,New York Stock Exchange,New York Stock Exchange,NaN,APRN,"Blue Apron Holdings, Inc.","Blue Apron Holdings, Inc.",NaN,81-4777373,...,NaN,NaN,NaN,NaN,NaN,NaN,I,20230426,n,NaN

In [38]:
empty_data = {
    "aus" : ["Australian Securities Exchange", "ASX"],
    "can" : ["Toronto Stock Exchange", "TSX"],
    "che" : ["SIX Swiss Exchange", "SIX"],
    "col" : ["Bolsa de Valores de Colombia", "BVC"],
    "deu" : ["Frankfurt Stock Exchange", "FSE"],
    "esp" : ["Bolsa de Madrid", "BM"],
    "fra" : ["Euronext Paris", "EP"],
    "gbr" : ["London Stock Exchange", "LSE"],
    "hkg" : ["Hong Kong Stock Exchange", "HKEX"],
    "idn" : ["Indonesia Stock Exchange", "IDX"],
    "ind" : ["National Stock Exchange", "NSE"],
    "ita" : ["Borsa Italiana", "BI"],
    "jpn" : ["Tokyo Stock Exchange", "TSE"],
    "kor" : ["Korea Exchange", "KRX"],
    "mys" : ["Kuala Lumpur Stock Exchange", "KLSE"],
    "mex" : ["Bolsa Mexicana de Valores", "BMV"],
    "nld" : ["Euronext Amsterdam", "BA"],
    "sgp" : ["Singapore Stock Exchange", "SGX"],
    "tha" : ["Stock Exchange of Thailand", "SET"],
    "usa" : ["New York Stock Exchange", "NYSE"],
    "vnm" : ["Ho Chi Minh City Stock Exchange", "HSX"]}

In [39]:
country_name = "tb_hb_aus_plcfi_d"

In [42]:
path = "fn/unload/"
filepath = os.listdir(path)

ASX Australian Securities Exchange Australian Securities Exchange aus
ASX Australian Securities Exchange Australian Securities Exchange aus
ASX Australian Securities Exchange Australian Securities Exchange aus
ASX Australian Securities Exchange Australian Securities Exchange aus
ASX Australian Securities Exchange Australian Securities Exchange aus
ASX Australian Securities Exchange Australian Securities Exchange aus
ASX Australian Securities Exchange Australian Securities Exchange aus
ASX Australian Securities Exchange Australian Securities Exchange aus
ASX Australian Securities Exchange Australian Securities Exchange aus
ASX Australian Securities Exchange Australian Securities Exchange aus
ASX Australian Securities Exchange Australian Securities Exchange aus
ASX Australian Securities Exchange Australian Securities Exchange aus
ASX Australian Securities Exchange Australian Securities Exchange aus
ASX Australian Securities Exchange Australian Securities Exchange aus
ASX Australian Securities Exchange Australian Securities Exchange aus
ASX Australian Securities Exchange Australian Securities Exchange aus
ASX Australian Securities Exchange Australian Securities Exchange aus
ASX Australian Securities Exchange Australian Securities Exchange aus
ASX Australian Securities Exchange Australian Securities Exchange aus
ASX Australian Securities Exchange Australian Securities Exchange aus
ASX Australian Securities Exchange Australian Securities Exchange aus
TSX Toronto Stock Exchange Toronto Stock Exchange aus
TSX Toronto Stock Exchange Toronto Stock Exchange aus
TSX Toronto Stock Exchange Toronto Stock Exchange aus
TSX Toronto Stock Exchange Toronto Stock Exchange aus
TSX Toronto Stock Exchange Toronto Stock Exchange aus
TSX Toronto Stock Exchange Toronto Stock Exchange aus
TSX Toronto Stock Exchange Toronto Stock Exchange aus
TSX Toronto Stock Exchange Toronto Stock Exchange aus
TSX Toronto Stock Exchange Toronto Stock Exchange aus
TSX Toronto Stock Exchange Toronto Stock Exchange aus
TSX Toronto Stock Exchange Toronto Stock Exchange aus
TSX Toronto Stock Exchange Toronto Stock Exchange aus
TSX Toronto Stock Exchange Toronto Stock Exchange aus
TSX Toronto Stock Exchange Toronto Stock Exchange aus
TSX Toronto Stock Exchange Toronto Stock Exchange aus
TSX Toronto Stock Exchange Toronto Stock Exchange aus
TSX Toronto Stock Exchange Toronto Stock Exchange aus
TSX Toronto Stock Exchange Toronto Stock Exchange aus
TSX Toronto Stock Exchange Toronto Stock Exchange aus
TSX Toronto Stock Exchange Toronto Stock Exchange aus
TSX Toronto Stock Exchange Toronto Stock Exchange aus
SIX SIX Swiss Exchange SIX Swiss Exchange aus
SIX SIX Swiss Exchange SIX Swiss Exchange aus
SIX SIX Swiss Exchange SIX Swiss Exchange aus
SIX SIX Swiss Exchange SIX Swiss Exchange aus
SIX SIX Swiss Exchange SIX Swiss Exchange aus
SIX SIX Swiss Exchange SIX Swiss Exchange aus
SIX SIX Swiss Exchange SIX Swiss Exchange aus
SIX SIX Swiss Exchange SIX Swiss Exchange aus
SIX SIX Swiss Exchange SIX Swiss Exchange aus
SIX SIX Swiss Exchange SIX Swiss Exchange aus
SIX SIX Swiss Exchange SIX Swiss Exchange aus
SIX SIX Swiss Exchange SIX Swiss Exchange aus
SIX SIX Swiss Exchange SIX Swiss Exchange aus
SIX SIX Swiss Exchange SIX Swiss Exchange aus
SIX SIX Swiss Exchange SIX Swiss Exchange aus
SIX SIX Swiss Exchange SIX Swiss Exchange aus
SIX SIX Swiss Exchange SIX Swiss Exchange aus
SIX SIX Swiss Exchange SIX Swiss Exchange aus
SIX SIX Swiss Exchange SIX Swiss Exchange aus
SIX SIX Swiss Exchange SIX Swiss Exchange aus
SIX SIX Swiss Exchange SIX Swiss Exchange aus
BVC Bolsa de Valores de Colombia Bolsa de Valores de Colombia aus
BVC Bolsa de Valores de Colombia Bolsa de Valores de Colombia aus
BVC Bolsa de Valores de Colombia Bolsa de Valores de Colombia aus
BVC Bolsa de Valores de Colombia Bolsa de Valores de Colombia aus
BVC Bolsa de Valores de Colombia Bolsa de Valores de Colombia aus
BVC Bolsa de Valores de Colombia Bolsa de Valores de Colombia aus
BVC Bolsa de Valores de Colombia Bolsa de Valores de Colombia aus
BVC Bolsa de Valores de Colombia Bolsa de Valores de Colombia aus
BVC Bolsa de Valores de Colombia Bolsa de Valores de Colombia aus
BVC Bolsa de Valores de Colombia Bolsa de Valores de Colombia aus
BVC Bolsa de Valores de Colombia Bolsa de Valores de Colombia aus
BVC Bolsa de Valores de Colombia Bolsa de Valores de Colombia aus
BVC Bolsa de Valores de Colombia Bolsa de Valores de Colombia aus
BVC Bolsa de Valores de Colombia Bolsa de Valores de Colombia aus
BVC Bolsa de Valores de Colombia Bolsa de Valores de Colombia aus
BVC Bolsa de Valores de Colombia Bolsa de Valores de Colombia aus
BVC Bolsa de Valores de Colombia Bolsa de Valores de Colombia aus
BVC Bolsa de Valores de Colombia Bolsa de Valores de Colombia aus
BVC Bolsa de Valores de Colombia Bolsa de Valores de Colombia aus
BVC Bolsa de Valores de Colombia Bolsa de Valores de Colombia aus
BVC Bolsa de Valores de Colombia Bolsa de Valores de Colombia aus
FSE Frankfurt Stock Exchange Frankfurt Stock Exchange aus
FSE Frankfurt Stock Exchange Frankfurt Stock Exchange aus
FSE Frankfurt Stock Exchange Frankfurt Stock Exchange aus
FSE Frankfurt Stock Exchange Frankfurt Stock Exchange aus
FSE Frankfurt Stock Exchange Frankfurt Stock Exchange aus
FSE Frankfurt Stock Exchange Frankfurt Stock Exchange aus
FSE Frankfurt Stock Exchange Frankfurt Stock Exchange aus
FSE Frankfurt Stock Exchange Frankfurt Stock Exchange aus
FSE Frankfurt Stock Exchange Frankfurt Stock Exchange aus
FSE Frankfurt Stock Exchange Frankfurt Stock Exchange aus
FSE Frankfurt Stock Exchange Frankfurt Stock Exchange aus
FSE Frankfurt Stock Exchange Frankfurt Stock Exchange aus
FSE Frankfurt Stock Exchange Frankfurt Stock Exchange aus
FSE Frankfurt Stock Exchange Frankfurt Stock Exchange aus
FSE Frankfurt Stock Exchange Frankfurt Stock Exchange aus
FSE Frankfurt Stock Exchange Frankfurt Stock Exchange aus
FSE Frankfurt Stock Exchange Frankfurt Stock Exchange aus
FSE Frankfurt Stock Exchange Frankfurt Stock Exchange aus
FSE Frankfurt Stock Exchange Frankfurt Stock Exchange aus
FSE Frankfurt Stock Exchange Frankfurt Stock Exchange aus
FSE Frankfurt Stock Exchange Frankfurt Stock Exchange aus
BM Bolsa de Madrid Bolsa de Madrid aus
BM Bolsa de Madrid Bolsa de Madrid aus
BM Bolsa de Madrid Bolsa de Madrid aus
BM Bolsa de Madrid Bolsa de Madrid aus
BM Bolsa de Madrid Bolsa de Madrid aus
BM Bolsa de Madrid Bolsa de Madrid aus
BM Bolsa de Madrid Bolsa de Madrid aus
BM Bolsa de Madrid Bolsa de Madrid aus
BM Bolsa de Madrid Bolsa de Madrid aus
BM Bolsa de Madrid Bolsa de Madrid aus
BM Bolsa de Madrid Bolsa de Madrid aus
BM Bolsa de Madrid Bolsa de Madrid aus
BM Bolsa de Madrid Bolsa de Madrid aus
BM Bolsa de Madrid Bolsa de Madrid aus
BM Bolsa de Madrid Bolsa de Madrid aus
BM Bolsa de Madrid Bolsa de Madrid aus
BM Bolsa de Madrid Bolsa de Madrid aus
BM Bolsa de Madrid Bolsa de Madrid aus
BM Bolsa de Madrid Bolsa de Madrid aus
BM Bolsa de Madrid Bolsa de Madrid aus
BM Bolsa de Madrid Bolsa de Madrid aus
EP Euronext Paris Euronext Paris aus
EP Euronext Paris Euronext Paris aus
EP Euronext Paris Euronext Paris aus
EP Euronext Paris Euronext Paris aus
EP Euronext Paris Euronext Paris aus
EP Euronext Paris Euronext Paris aus
EP Euronext Paris Euronext Paris aus
EP Euronext Paris Euronext Paris aus
EP Euronext Paris Euronext Paris aus
EP Euronext Paris Euronext Paris aus
EP Euronext Paris Euronext Paris aus
EP Euronext Paris Euronext Paris aus
EP Euronext Paris Euronext Paris aus
EP Euronext Paris Euronext Paris aus
EP Euronext Paris Euronext Paris aus
EP Euronext Paris Euronext Paris aus
EP Euronext Paris Euronext Paris aus
EP Euronext Paris Euronext Paris aus
EP Euronext Paris Euronext Paris aus
EP Euronext Paris Euronext Paris aus
EP Euronext Paris Euronext Paris aus
LSE London Stock Exchange London Stock Exchange aus
LSE London Stock Exchange London Stock Exchange aus
LSE London Stock Exchange London Stock Exchange aus
LSE London Stock Exchange London Stock Exchange aus
LSE London Stock Exchange London Stock Exchange aus
LSE London Stock Exchange London Stock Exchange aus
LSE London Stock Exchange London Stock Exchange aus
LSE London Stock Exchange London Stock Exchange aus
LSE London Stock Exchange London Stock Exchange aus
LSE London Stock Exchange London Stock Exchange aus
LSE London Stock Exchange London Stock Exchange aus
LSE London Stock Exchange London Stock Exchange aus
LSE London Stock Exchange London Stock Exchange aus
LSE London Stock Exchange London Stock Exchange aus
LSE London Stock Exchange London Stock Exchange aus
LSE London Stock Exchange London Stock Exchange aus
LSE London Stock Exchange London Stock Exchange aus
LSE London Stock Exchange London Stock Exchange aus
LSE London Stock Exchange London Stock Exchange aus
LSE London Stock Exchange London Stock Exchange aus
LSE London Stock Exchange London Stock Exchange aus
HKEX Hong Kong Stock Exchange Hong Kong Stock Exchange aus
HKEX Hong Kong Stock Exchange Hong Kong Stock Exchange aus
HKEX Hong Kong Stock Exchange Hong Kong Stock Exchange aus
HKEX Hong Kong Stock Exchange Hong Kong Stock Exchange aus
HKEX Hong Kong Stock Exchange Hong Kong Stock Exchange aus
HKEX Hong Kong Stock Exchange Hong Kong Stock Exchange aus
HKEX Hong Kong Stock Exchange Hong Kong Stock Exchange aus
HKEX Hong Kong Stock Exchange Hong Kong Stock Exchange aus
HKEX Hong Kong Stock Exchange Hong Kong Stock Exchange aus
HKEX Hong Kong Stock Exchange Hong Kong Stock Exchange aus
HKEX Hong Kong Stock Exchange Hong Kong Stock Exchange aus
HKEX Hong Kong Stock Exchange Hong Kong Stock Exchange aus
HKEX Hong Kong Stock Exchange Hong Kong Stock Exchange aus
HKEX Hong Kong Stock Exchange Hong Kong Stock Exchange aus
HKEX Hong Kong Stock Exchange Hong Kong Stock Exchange aus
HKEX Hong Kong Stock Exchange Hong Kong Stock Exchange aus
HKEX Hong Kong Stock Exchange Hong Kong Stock Exchange aus
HKEX Hong Kong Stock Exchange Hong Kong Stock Exchange aus
HKEX Hong Kong Stock Exchange Hong Kong Stock Exchange aus
HKEX Hong Kong Stock Exchange Hong Kong Stock Exchange aus
HKEX Hong Kong Stock Exchange Hong Kong Stock Exchange aus
IDX Indonesia Stock Exchange Indonesia Stock Exchange aus
IDX Indonesia Stock Exchange Indonesia Stock Exchange aus
IDX Indonesia Stock Exchange Indonesia Stock Exchange aus
IDX Indonesia Stock Exchange Indonesia Stock Exchange aus
IDX Indonesia Stock Exchange Indonesia Stock Exchange aus
IDX Indonesia Stock Exchange Indonesia Stock Exchange aus
IDX Indonesia Stock Exchange Indonesia Stock Exchange aus
IDX Indonesia Stock Exchange Indonesia Stock Exchange aus
IDX Indonesia Stock Exchange Indonesia Stock Exchange aus
IDX Indonesia Stock Exchange Indonesia Stock Exchange aus
IDX Indonesia Stock Exchange Indonesia Stock Exchange aus
IDX Indonesia Stock Exchange Indonesia Stock Exchange aus
IDX Indonesia Stock Exchange Indonesia Stock Exchange aus
IDX Indonesia Stock Exchange Indonesia Stock Exchange aus
IDX Indonesia Stock Exchange Indonesia Stock Exchange aus
IDX Indonesia Stock Exchange Indonesia Stock Exchange aus
IDX Indonesia Stock Exchange Indonesia Stock Exchange aus
IDX Indonesia Stock Exchange Indonesia Stock Exchange aus
IDX Indonesia Stock Exchange Indonesia Stock Exchange aus
IDX Indonesia Stock Exchange Indonesia Stock Exchange aus
IDX Indonesia Stock Exchange Indonesia Stock Exchange aus
NSE National Stock Exchange National Stock Exchange aus
NSE National Stock Exchange National Stock Exchange aus
NSE National Stock Exchange National Stock Exchange aus
NSE National Stock Exchange National Stock Exchange aus
NSE National Stock Exchange National Stock Exchange aus
NSE National Stock Exchange National Stock Exchange aus
NSE National Stock Exchange National Stock Exchange aus
NSE National Stock Exchange National Stock Exchange aus
NSE National Stock Exchange National Stock Exchange aus
NSE National Stock Exchange National Stock Exchange aus
NSE National Stock Exchange National Stock Exchange aus
NSE National Stock Exchange National Stock Exchange aus
NSE National Stock Exchange National Stock Exchange aus
NSE National Stock Exchange National Stock Exchange aus
NSE National Stock Exchange National Stock Exchange aus
NSE National Stock Exchange National Stock Exchange aus
NSE National Stock Exchange National Stock Exchange aus
NSE National Stock Exchange National Stock Exchange aus
NSE National Stock Exchange National Stock Exchange aus
NSE National Stock Exchange National Stock Exchange aus
NSE National Stock Exchange National Stock Exchange aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
BI Borsa Italiana Borsa Italiana aus
KLSE Kuala Lumpur Stock Exchange Kuala Lumpur Stock Exchange aus
KLSE Kuala Lumpur Stock Exchange Kuala Lumpur Stock Exchange aus
KLSE Kuala Lumpur Stock Exchange Kuala Lumpur Stock Exchange aus
KLSE Kuala Lumpur Stock Exchange Kuala Lumpur Stock Exchange aus
KLSE Kuala Lumpur Stock Exchange Kuala Lumpur Stock Exchange aus
KLSE Kuala Lumpur Stock Exchange Kuala Lumpur Stock Exchange aus
KLSE Kuala Lumpur Stock Exchange Kuala Lumpur Stock Exchange aus
KLSE Kuala Lumpur Stock Exchange Kuala Lumpur Stock Exchange aus
KLSE Kuala Lumpur Stock Exchange Kuala Lumpur Stock Exchange aus
KLSE Kuala Lumpur Stock Exchange Kuala Lumpur Stock Exchange aus
KLSE Kuala Lumpur Stock Exchange Kuala Lumpur Stock Exchange aus
KLSE Kuala Lumpur Stock Exchange Kuala Lumpur Stock Exchange aus
KLSE Kuala Lumpur Stock Exchange Kuala Lumpur Stock Exchange aus
KLSE Kuala Lumpur Stock Exchange Kuala Lumpur Stock Exchange aus
KLSE Kuala Lumpur Stock Exchange Kuala Lumpur Stock Exchange aus
KLSE Kuala Lumpur Stock Exchange Kuala Lumpur Stock Exchange aus
KLSE Kuala Lumpur Stock Exchange Kuala Lumpur Stock Exchange aus
KLSE Kuala Lumpur Stock Exchange Kuala Lumpur Stock Exchange aus
KLSE Kuala Lumpur Stock Exchange Kuala Lumpur Stock Exchange aus
BMV Bolsa Mexicana de Valores Bolsa Mexicana de Valores aus
BMV Bolsa Mexicana de Valores Bolsa Mexicana de Valores aus
BMV Bolsa Mexicana de Valores Bolsa Mexicana de Valores aus
BMV Bolsa Mexicana de Valores Bolsa Mexicana de Valores aus
BMV Bolsa Mexicana de Valores Bolsa Mexicana de Valores aus
BMV Bolsa Mexicana de Valores Bolsa Mexicana de Valores aus
BMV Bolsa Mexicana de Valores Bolsa Mexicana de Valores aus
BMV Bolsa Mexicana de Valores Bolsa Mexicana de Valores aus
BMV Bolsa Mexicana de Valores Bolsa Mexicana de Valores aus
BMV Bolsa Mexicana de Valores Bolsa Mexicana de Valores aus
BMV Bolsa Mexicana de Valores Bolsa Mexicana de Valores aus
BMV Bolsa Mexicana de Valores Bolsa Mexicana de Valores aus
BMV Bolsa Mexicana de Valores Bolsa Mexicana de Valores aus
BMV Bolsa Mexicana de Valores Bolsa Mexicana de Valores aus
BMV Bolsa Mexicana de Valores Bolsa Mexicana de Valores aus
BMV Bolsa Mexicana de Valores Bolsa Mexicana de Valores aus
BMV Bolsa Mexicana de Valores Bolsa Mexicana de Valores aus
BMV Bolsa Mexicana de Valores Bolsa Mexicana de Valores aus
BMV Bolsa Mexicana de Valores Bolsa Mexicana de Valores aus
BMV Bolsa Mexicana de Valores Bolsa Mexicana de Valores aus
BMV Bolsa Mexicana de Valores Bolsa Mexicana de Valores aus
BMV Bolsa Mexicana de Valores Bolsa Mexicana de Valores aus
BA Euronext Amsterdam Euronext Amsterdam aus
BA Euronext Amsterdam Euronext Amsterdam aus
BA Euronext Amsterdam Euronext Amsterdam aus
BA Euronext Amsterdam Euronext Amsterdam aus
BA Euronext Amsterdam Euronext Amsterdam aus
BA Euronext Amsterdam Euronext Amsterdam aus
BA Euronext Amsterdam Euronext Amsterdam aus
BA Euronext Amsterdam Euronext Amsterdam aus
BA Euronext Amsterdam Euronext Amsterdam aus
BA Euronext Amsterdam Euronext Amsterdam aus
BA Euronext Amsterdam Euronext Amsterdam aus
BA Euronext Amsterdam Euronext Amsterdam aus
BA Euronext Amsterdam Euronext Amsterdam aus
BA Euronext Amsterdam Euronext Amsterdam aus
BA Euronext Amsterdam Euronext Amsterdam aus
BA Euronext Amsterdam Euronext Amsterdam aus
BA Euronext Amsterdam Euronext Amsterdam aus
BA Euronext Amsterdam Euronext Amsterdam aus
BA Euronext Amsterdam Euronext Amsterdam aus
BA Euronext Amsterdam Euronext Amsterdam aus
BA Euronext Amsterdam Euronext Amsterdam aus
SGX Singapore Stock Exchange Singapore Stock Exchange aus
SGX Singapore Stock Exchange Singapore Stock Exchange aus
SGX Singapore Stock Exchange Singapore Stock Exchange aus
SGX Singapore Stock Exchange Singapore Stock Exchange aus
SGX Singapore Stock Exchange Singapore Stock Exchange aus
SGX Singapore Stock Exchange Singapore Stock Exchange aus
SGX Singapore Stock Exchange Singapore Stock Exchange aus
SGX Singapore Stock Exchange Singapore Stock Exchange aus
SGX Singapore Stock Exchange Singapore Stock Exchange aus
SGX Singapore Stock Exchange Singapore Stock Exchange aus
SGX Singapore Stock Exchange Singapore Stock Exchange aus
SGX Singapore Stock Exchange Singapore Stock Exchange aus
SGX Singapore Stock Exchange Singapore Stock Exchange aus
SGX Singapore Stock Exchange Singapore Stock Exchange aus
SGX Singapore Stock Exchange Singapore Stock Exchange aus
SGX Singapore Stock Exchange Singapore Stock Exchange aus
SGX Singapore Stock Exchange Singapore Stock Exchange aus
SGX Singapore Stock Exchange Singapore Stock Exchange aus
SGX Singapore Stock Exchange Singapore Stock Exchange aus
SGX Singapore Stock Exchange Singapore Stock Exchange aus
SGX Singapore Stock Exchange Singapore Stock Exchange aus
SET Stock Exchange of Thailand Stock Exchange of Thailand aus
SET Stock Exchange of Thailand Stock Exchange of Thailand aus
SET Stock Exchange of Thailand Stock Exchange of Thailand aus
SET Stock Exchange of Thailand Stock Exchange of Thailand aus
SET Stock Exchange of Thailand Stock Exchange of Thailand aus
SET Stock Exchange of Thailand Stock Exchange of Thailand aus
SET Stock Exchange of Thailand Stock Exchange of Thailand aus

데이터베이스에서 데이터를 확인하는 클래스는 Analysis 입니다. 

read_excel() 함수는 xlsx을 불러와 데이터프레임으로 저장합니다. 

read_csv() 함수는 csv를 불러와 데이터프레임으로 저장합니다. 

Fail() 함수는 오류가 난 데이터를 데이터프레임에 넣기 위해 딕셔너리화 시키는 함수 

CheckDate_Duplicate() 함수는 날짜체크, 중복체크를 확인하는 함수 

CheckNumber() 함수는 전화번호가 유효한지 확인하는 함수

In [1]:
import os
import sys
sys.path.append(os.path.dirname(os.path.abspath(os.path.dirname("ETL"))))
from ETL import T

In [2]:
path = "fn/unload/"
filepath = os.listdir(path)

In [3]:
ana = T.Analysis()

In [4]:
for idx in filepath:
    ana.read_excel(path + idx)
    ana.CheckDate_Duplicate()

100%|██████████| 81/81 [00:00<00:00, 107.76it/s]
100%|██████████| 81/81 [00:06<00:00, 12.58it/s]
100%|██████████| 81/81 [00:03<00:00, 26.02it/s]
100%|██████████| 81/81 [00:00<00:00, 201.47it/s]
100%|██████████| 81/81 [00:00<00:00, 109.03it/s]
100%|██████████| 81/81 [00:00<00:00, 107.19it/s]
100%|██████████| 81/81 [00:00<00:00, 106.25it/s]
100%|██████████| 81/81 [00:08<00:00,  9.26it/s]
100%|██████████| 81/81 [00:00<00:00, 106.04it/s]
100%|██████████| 81/81 [00:06<00:00, 13.45it/s]
100%|██████████| 81/81 [00:14<00:00,  5.56it/s]
100%|██████████| 81/81 [00:03<00:00, 21.59it/s]
100%|██████████| 81/81 [00:00<00:00, 84.73it/s]
100%|██████████| 81/81 [00:00<00:00, 96.13it/s]
100%|██████████| 81/81 [00:01<00:00, 72.04it/s]
100%|██████████| 81/81 [00:00<00:00, 94.86it/s]
100%|██████████| 81/81 [00:07<00:00, 11.05it/s]
100%|██████████| 81/81 [00:20<00:00,  4.03it/s]
100%|██████████| 81/81 [00:00<00:00, 98.42it/s]

In [6]:
ana.CheckDF.to_excel("오류율 검사.xlsx", index=False)

In [42]:
df = pd.read_csv("egnin_fn/bizin/finished_it_bizin.csv")

In [43]:
df.columns

Index(['address', 'E.mail', 'Webpage', 'Phone number', 'Fax', 'Postal Code',
       'City', 'Country', 'VCARD QR', 'name'],
      dtype='object')

In [44]:
df.head()

,address,E.mail,Webpage,Phone number,Fax,Postal Code,City,Country,VCARD QR,name
0,"20123,Via della Posta 3, , Mila Italy",-,NaN,+3902864761,+39 02 80 55 233,20123,"Mila, -",Italy,NaN,Imprefin spa
1,"38;,Via Umbro Casentinese, Bibbiena; , 5201 Italy",-,NaN,0575:536282^^390575536282,0575-536283^^39.0575-536283,38;,"5201, Bibbiena;",Italy,NaN,Credito italiano spa
2,"88040,Via Bellavista, , Carl Italy",-,NaN,-,-,88040,"Carl, -",Italy,NaN,Banca di credito cooperativo di carlopoli prov...
3,"28;,Via Julius Durst, Bressanone; , 3904 Italy",-,NaN,0472:811305^^390472811305,0472:811375^^39.0472-811375,28;,"3904, Bressanone;",Italy,NaN,Sć¼dtiroler volksbank
4,"di,Via Vittorio Veneto 8; Citta, Castello; , 0...",-,NaN,075:8520670^^390758520670,-,di,"0601, Castello;",Italy,NaN,Banca nazionale del lavoro spa

In [45]:
DefaultDataFrame = pd.DataFrame(columns = list(pd.read_excel("C:/Users/user/Desktop/yoo/개발관련/BDC/Digital-Industry-Innovation/TableDefaultColumns.xlsx", sheet_name="일반_columns")["표준_영문컬럼명"]))

In [47]:
country = {
    "Australia" : "aus",
    "Cabada" : "can",
    "United Kingdom" : "gbr",
    "France" : "fra",
    "Switzerland" : "che",
    "Hong Kong" : "hkg",
    "Malaysia" : "mys",
    "Singapore" : "sgp",
    "Spain" : "esp",
    "Italy" : "ita",
    "Thailand" : "tha",
    "Japan" : "jpn",
    "Viet Nam" : "vnm",
    "India" : "ind",
    "United States" : "usa",
    "Canada" : "can",
    "Mexico" : "mex",
    "Netherlands" : "nld",
    "Germany" : "deu"
}
stock_name = {
"aus" : ["Australian Securities Exchange", "ASX", "English"],
"can" : ["Toronto Stock Exchange", "TSX", "English"],
"che" : ["SIX Swiss Exchange", "SIX", "German"],
"col" : ["Bolsa de Valores de Colombia", "BVC", "Spanish"],
"deu" : ["Frankfurt Stock Exchange", "FSE", "German"],
"esp" : ["Bolsa de Madrid", "BM", "Spanish"],
"fra" : ["Euronext Paris", "EP", "French"],
"gbr" : ["London Stock Exchange", "LSE", "English"],
"hkg" : ["Hong Kong Stock Exchange", "HKEX", "Cantonese"],
"idn" : ["Indonesia Stock Exchange", "IDX", "Indonesian"],
"ind" : ["National Stock Exchange", "NSE", "Hindi"],
"ita" : ["Borsa Italiana", "BI", "Italian"],
"jpn" : ["Tokyo Stock Exchange", "TSE", "Japanese"],
"kor" : ["Korea Exchange", "KRX", "Korean"],
"mys" : ["Kuala Lumpur Stock Exchange", "KLSE", "Malay"],
"mex" : ["Bolsa Mexicana de Valores", "BMV", "Spanish"],
"nld" : ["Euronext Amsterdam", "BA", "Dutch"],
"sgp" : ["Singapore Stock Exchange", "SGX", "English"],
"tha" : ["Stock Exchange of Thailand", "SET", "Thai"],
"usa" : ["New York Stock Exchange", "NYSE", "English"],
"vnm" : ["Ho Chi Minh City Stock Exchange", "HSX", "Vietnamese"]}

ou = "tb_hb_ita_egnin_m.xlsx"
name = ou.split("_")[2]
solution = lambda x: [k for k, v in country.items() if v == x][0]

for idx in range(len(df)):
    AppendDict = {
                "hb_ntn_cd" : name,
                "acplc_lngg_ntn_nm" : solution(name),
                "engls_ntn_nm" : solution(name),
                "ntn_lngg_cd_val" : name.upper(),
                "acplc_lngg_lngg_nm" : stock_name[name][2],
                "engls_lngg_nm" : stock_name[name][2],
                "acplc_lngg_entrp_nm" : df["name"][idx], # 기업명
                "engls_entrp_nm" : df["name"][idx], # 기업명
                # "acplc_lngg_oln_intrd_cont" : df["Sales"][idx], # 한줄소개
                # "acplc_lngg_entrp_intrd_cont" : df["Sales"][idx], # 기업소개
                #"engls_oln_intrd_cont" : df["Sales"][idx], # 영문 한줄소개
                #"engls_entrp_intrd_cont" : df["Sales"][idx], # 영문 기업소개
                "rprsn_email" : df["E.mail"][idx], # 이메일
                "acplc_lngg_entrp_addr" : df["City"][idx], # 기업 주소
                "acplc_lngg_entrp_dtadd" : df["address"][idx], # 기업 상세 주소
                "engls_entrp_addr" : df["City"][idx], # 기업 주소
                "engls_entrp_dtadd" : df["address"][idx], # 기업 상세 주소
                #"acplc_lngg_ceo_nm" : df["Contact"][idx], # 대표
                "entrp_post_no" : df["Postal Code"][idx], # 기업우편번호
                #"entrp_emply_val" : df["Employees"][idx] # 종업원수
            }
    DefaultDataFrame = DefaultDataFrame.append(AppendDict, ignore_index=True)

In [48]:
DefaultDataFrame

,keyval,hb_ntn_cd,acplc_lngg_ntn_nm,engls_ntn_nm,ntn_lngg_cd_val,acplc_lngg_lngg_nm,engls_lngg_nm,acplc_lngg_entrp_nm,engls_entrp_nm,acplc_lngg_oln_intrd_cont,...,stock_mrkt_cd,acplc_lngg_stock_mrkt_nm,engls_stock_mrkt_nm,lstng_cd,lstng_dt,entrp_addtn_info_val,opert_sctin_cd,data_crtin_dt,cntct_prces_stts_cd,cntct_prces_dt
0,NaN,ita,Italy,Italy,ITA,Italian,Italian,Imprefin spa,Imprefin spa,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,ita,Italy,Italy,ITA,Italian,Italian,Credito italiano spa,Credito italiano spa,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,ita,Italy,Italy,ITA,Italian,Italian,Banca di credito cooperativo di carlopoli prov...,Banca di credito cooperativo di carlopoli prov...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,ita,Italy,Italy,ITA,Italian,Italian,Sć¼dtiroler volksbank,Sć¼dtiroler volksbank,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,ita,Italy,Italy,ITA,Italian,Italian,Banca nazionale del lavoro spa,Banca nazionale del lavoro spa,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,NaN,ita,Italy,Italy,ITA,Italian,Italian,Societa aeroporto toscano galileo galilei,Societa aeroporto toscano galileo galilei,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
430,NaN,ita,Italy,Italy,ITA,Italian,Italian,Banca popolare,Banca popolare,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
431,NaN,ita,Italy,Italy,ITA,Italian,Italian,"Banco popolare di castelfranco, veneto","Banco popolare di castelfranco, veneto",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
432,NaN,ita,Italy,Italy,ITA,Italian,Italian,Cassa rurale pinetana-baselga di pine',Cassa rurale pinetana-baselga di pine',NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
433,NaN,ita,Italy,Italy,ITA,Italian,Italian,Banca capasso antonio spa,Banca capasso antonio spa,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
DefaultDataFrame.to_excel("tb_hb_ita_egnin_m.xlsx", index=False)